body{
 background-image: url(../css/img/resim4.jpg);
 background-position: center;
 background-size: cover
}
h1, h2{
 background-color:aqua;
 text-align:center;
 padding-bottom:1rem;
}
section.container{
 width: 30%;
}

.aylar{
 background-color: antiquewhite;
 padding-bottom:1rem;
}
.mevsimler{
 background-color: antiquewhite;
 padding-bottom:1rem;
}
.günler{
 background-color: antiquewhite;
 padding-bottom:1rem;
}
ul,ol{
 margin-bottom: 1rem;
}
ul li,ol li{
    font-size:1.3rem;
}
